.header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(217, 197, 235);
}
.app-title{
  margin: 20px;
}
.header-right-contents{
  display: flex;
}
.user-devise{
  font-size: 20px;
  margin-top: 30px;
  display: block;
  text-decoration: none;
  font-weight: 800;
  color: black;
  margin-right: 30px;
}
